version: "3.9"

services:
  app:
    build: .
    container_name: coopcred_app
    restart: unless-stopped
    env_file: .env.docker
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    command: yarn start

  mongo:
    image: mongo:6
    container_name: coopcred_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
